name: On Pull Requests

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  # You can use the merge_group event to trigger your GitHub Actions workflow when
  # a pull request is added to a merge queue
  # https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue#triggering-merge-group-checks-with-github-actions
  merge_group:

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  # For merge queue, we use merge_group to ensure each merge queue run gets its own group.
  group: "on-pull-requests-${{ github.ref_name }}-${{ github.head_ref }}-${{ github.event.merge_group.head_sha || '' }}"
  cancel-in-progress: true

jobs:
  platform-linting-and-tests-pr:
    name: Platform Linting and Tests (Optional)
    if: github.event_name == 'pull_request'
    permissions:
      contents: write
      security-events: write
      id-token: write # Required for Workload Identity Federation
    uses: ./.github/workflows/platform-linting-and-tests.yml

  platform-linting-and-tests-merge-queue:
    name: Platform Linting and Tests (Required)
    permissions:
      contents: write
      security-events: write
      id-token: write # Required for Workload Identity Federation
    uses: ./.github/workflows/platform-linting-and-tests.yml
    with:
      should-skip-running-and-always-succeed: ${{ github.event_name == 'pull_request' }}